
@font-face {
    font-family: 'GreekFreak';
    src: url('/fonts/Greek-Freak.ttf');
}
body::before {
    text-align: center;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.22; /* Controla el nivel de transparencia de la imagen */
    z-index: -1;
    height: 100%;
    width: 100%;/* Para que esté detrás del contenido */
}
.logo{
    display: block;
    margin: 0 auto;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
height: auto;
width: 28.125rem;
}
.container {
    text-align: center;
    color: white;
}

/* Logo */


/* Contenedor de botones */
.buttons-container {
    
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    
    margin-bottom: 2.5rem;
}

/* Estilos para los botones */
.button {
    border: 0.3125rem solid black;

    background-color: #35f7ff;
    border-radius: 2.5rem;
    padding: 0;
    height: 13.4375rem;
    width: 18.75rem;
    text-align: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    overflow: hidden;
}

.button:hover {
    transform: scale(1.05);
}

.button img {
    position: relative;
    top: -1.25rem;
    padding: 0;
    display:inline-block;
    max-width: 47%;
    height: auto;
margin:  0 auto;
}

.button h2 {
    position: relative;
    top: -1.5625rem;
    margin-bottom: 0;
    font-family: 'GreekFreak';
    font-size: 3rem;
    color: black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0625rem;
    
}

/* Sección Top Scorers */
.top-scorers {
    background-color: #fda839;
    padding: 0.625rem 1.25rem;
    border-radius: 2.5rem;
    display: inline-block;
    width: 25rem;
    overflow: hidden;
    height: 9.375rem;
    border: 0.3125rem solid black;

}
.top-scorers:hover{
    transform: scale(1.05);

}
.top-scorers img {
    padding: 0;
    display:inline-block;
    max-width: 35%;
    height: auto;
margin:  0 auto;
}

.top-scorers h2 {
    margin: 0;
    font-family: 'GreekFreak';
    font-size: 3rem;
    color: black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0625rem;
}
#img2{
    position: relative;
    top: -1.5625rem;
    padding: 0;
    display:inline-block;
    max-width: 55%;
    height: auto;
margin:  0 auto;
}

.pregunta {
    border: 0.3125rem solid black;

    background-color: #fda839;
    border-radius: 2.5rem;
    height: 6.25rem;
    width: 43.75rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    overflow: hidden;
}
.pregunta h2{
margin-top: 0.625rem;
margin-bottom: 0.625rem;
    font-family: 'Cinzel' serif;
    font-size: 1.7rem;
    color: black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0375rem;
    

}
.respuestas li {
    border: 0.3125rem solid black;

    position: relative;
    left: -0.9375rem;
    background-color: #35f7ff;
    border-radius: 2.5rem;
    height: 5rem;
    width: 43.75rem;
    text-align: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    overflow: hidden;
    margin-top: 1.25rem;

}
.respuestas li:hover {
    transform: scale(1.05);
}
.respuestas li h2{

        font-family: 'Cinzel' serif;
    font-size: 1.7rem;
    color: black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0375rem;
}
.logo2{
    display: block;
    margin: 0 auto;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    height: auto;
    width: 18.75rem;
    transition: transform 0.3s;

}
.logo2:hover{
    transform: scale(1.05);
}
.logo:hover{
    transform: scale(1.05);
}
.contenedor {
    
    display: flex;
    flex-direction: column; /* Coloca los elementos uno debajo del otro */
    align-items: center; /* Centra horizontalmente */
    gap: 1.25rem; /* Espacio entre la pregunta y las respuestas */
    margin-bottom: 2.5rem;
    height: 100vh; 
    margin-top: 0;
}
a{
    text-decoration: none;
}
.contador{
    background-color: bisque;
    height: 6.25rem;
    width: 6.25rem;
    position: absolute;
    border: 0.3125rem solid black;
    border-radius: 6.25rem;
    top: 9.375rem;
    left: 68.75rem;
    border-style: dashed;
}
.contador h2{
    margin-top: 1.5625rem;
    font-size: 3rem;
    font-family: 'Cinzel' serif;
    color: black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0625rem;
}
.playerName{
    border: 0.3125rem solid black;

    background-color: #35f7ff;
    border-radius: 2.5rem;
    padding: 0;
    height: 25rem;
    width: 37.5rem;
    text-align: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    overflow: hidden;
}
.playerName h2{
    font-family: 'GreekFreak';
    color: black;
    font-size: 3rem;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0938rem;
}
.playerName input {
    width: 31.25rem;
    height: 3.125rem;
    padding: 0 1.25rem;/* Añade 20px de padding a los lados */
    padding-top: 0.3125rem; 
    font-size: 3rem;
    border-radius: 3.125rem;
    box-sizing: border-box; 
    text-align: center;
    font-family: "GreekFreak";
    border: 0.1875rem solid black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0938rem;
    /* Asegura que el padding no afecte el tamaño total del input */
}
.startGame{
    background-color: #fda839;
    padding: 0.625rem 1.25rem;
    padding-top: 1.25rem;
    border-radius: 2.5rem;
    display: inline-block;
    width: 25rem;
    height: 3.125rem;
    overflow: hidden;
    border: 0.3125rem solid black;
    margin-top: 2.5rem;
    font-size: 3rem;
    font-family: 'GreekFreak';
    transition: transform 0.3s;
    text-decoration: none;
color: black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0938rem;

}
.startGame:hover{
    transform: scale(1.05);

}
.top-scorers-table {
    width: 25rem;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #f4b266;
    border-radius: 1.25rem;
    overflow: hidden;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.05rem;
    
}

.top-scorers-table th, .top-scorers-table td {
    padding: 0.9375rem;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'GreekFreak', sans-serif; /* Usa la fuente que ya estás usando */
    border-bottom: 0.125rem solid #ddd;
}

.top-scorers-table thead {
    background-color: #35f7ff;
    color: black;
}

.top-scorers-table tr:nth-child(even) {
    background-color: #f3f3f3;
}

.top-scorers-table tbody tr:hover {
    background-color: #ddd;
    transform: scale(1.02);
    transition: 0.3s;
}

#players-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas de tamaño igual */
    grid-gap: 1.25rem; /* Espacio entre los cuadros */
    margin: 1.25rem auto; /* Centra el contenedor */
    max-width: 37.5rem; /* Anchura máxima del contenedor */
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.25rem;
    border: 0.3125rem solid black;
    border-radius: 0.625rem;
    background-color: #35f7ff;
    position: relative;
}

.player-name {
    border: 0.125rem solid black;

    font-family: 'GreekFreak';
    text-align: center;
    padding: 0 1.25rem;/* Añade 20px de padding a los lados */
    padding-top: 0.3125rem;
    border-radius: 1.25rem;
    width: 60%;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0625rem;
    position: relative;
    left: -0.625rem;
}

.color-picker {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-bottom: 0.625rem;
}

.color-option {
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
border: 0.125rem solid black;
}
.color-option:hover{
    transform: scale(1.15);
}

.color-option.red { background-color: red; }
.color-option.blue { background-color: blue; }
.color-option.green { background-color: green; }
.color-option.yellow { background-color: yellow; }


.delete-btn {
    border: 0.125rem solid black;
    border-radius: 1.25rem;
    position: absolute;
    top: 1.125rem;
    right: 0.3125rem;
    background-color: #fda839;
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s;

}
.delete-btn:hover{
    transform: scale(1.15);
}

#add-player-btn {
    display: block;
    margin: 1.25rem auto;
    padding: 0.625rem 1.25rem;
    font-size: 1.5rem;
    border: 0.125rem solid black;
    border-radius: 0.625rem;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: 0.3s;

}

#add-player-btn:hover {
    background-color: #45a049;
    transform: scale(1.15);
}
/* Color resaltado */
.color-option.selected {
    border: 0.1875rem solid black; /* Añade un borde alrededor del color seleccionado */
}

/* Color deshabilitado para otros jugadores */
.color-option.disabled {
    opacity: 0.5;
    pointer-events: none; /* Evita que se pueda hacer clic en colores deshabilitados */
}

#start-game-btn{
    background-color: #fda839;
    border-radius: 1.5625rem;
    border: 0.3125rem solid black;
    height: 5rem;
    width: 18.75rem;
    transition: 0.3s;
    color: black;
    text-align: center;

}
#start-game-btn h2{

    font-size: 2rem;
    font-family: 'GreekFreak';
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0625rem;
    transition: 0.3s;
    color: black;
    text-align: center;

}
#start-game-btn:hover{
    transform: scale(1.05);
}

.respuestas2 li {
    border: 0.3125rem solid black;

    position: relative;
    left: -0.9375rem;
    background-color: rgb(255, 0, 0);
    border-radius: 2.5rem;
    height: 5rem;
    width: 43.75rem;
    text-align: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    overflow: hidden;
    margin-top: 1.25rem;

}
.respuestas2 li:nth-child(1) {
    border: 0.3125rem solid black;

    position: relative;
    left: -0.9375rem;
    background-color: rgb(14, 189, 14);
    border-radius: 2.5rem;
    height: 5rem;
    width: 43.75rem;
    text-align: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    overflow: hidden;
    margin-top: 1.25rem;

}
.respuestas2 li:hover {
    transform: scale(1.05);
}
.respuestas2 li h2{

        font-family: 'Cinzel' serif;
    font-size: 1.7rem;
    color: black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0375rem;
}