.top-scorers-table {
    width: 25rem;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 1.25rem;
    overflow: hidden;
    background-color: #2ef5fccc;

}

.top-scorers-table th,
.top-scorers-table td {

    text-align: center;
    font-size: 1.5rem;
    font-family: 'GreekFreak', sans-serif;
    font-optical-sizing: auto;
    /* Usa la fuente que ya estás usando */
}

.top-scorers-table thead {
    color: black;
    background-color: #0083afbd;
}

.top-scorers-table tr:nth-child(even) {
    background-color: #fda727d0;
}

.top-scorers-table tbody tr:hover {
    background-color: #ddd;
    transform: scale(1.02);
    transition: 0.3s;
}

.top{
    background-image: url('/img/Trono.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60vh;
    width: 50vw;
    display: flex;
    justify-content: center;
}