@if (!enTurno) {
    <app-multiplayer-board
        [vidasPartida]="vidasJugadores"
        [tiempoPartida]="tiempoElegido"
        [jugadores]="jugadores"
        [jugadorEnTurno]="turnoActualIndex"
        [partidaFinalizada]="finPartida"
        (empezarTurnoEvent)="empezarTurno($event)">
    </app-multiplayer-board>
}

@if (enTurno) {
    @if (loading) {
        <div class="rueda-cargando">
            <span class="ruedita"></span>
        </div>
    }

    @if (preguntas.length > 0) {
        <app-pregunta
            [contador]="tiempoElegido"
            [vidas] = "jugadores[turnoActualIndex].vidas"
            [pregunta]="preguntas[preguntaActualIndex]"
            (preguntaRespondida)="pasarSiguientePregunta($event)">
        </app-pregunta>
    } 
}