<div class="contenedor">
    <a routerLink="/"><img class="logo2" src="/img/Logo-Trivia-Titans.png" alt="logo"></a>

    <!-- Contenedor donde se agregan los jugadores cuando se clickea el boton para agregar -->
    <div id="players-container">
        @for (jugador of arrayJugadores; track $index) {
        <div class="player">
            <input type="text" [placeholder]="'Player ' + ($index+1) + ' Name'" class="player-name" [(ngModel)]="arrayJugadores[$index].nombre">
            <div class="color-picker">
                <div class="color-option red" (click)="seleccionarColor($index, 'red')"
                    [ngClass]="{'selected': arrayJugadores[$index].color === 'red', 'disabled': coloresUsados.includes('red') && arrayJugadores[$index].color !== 'red'}">
                </div>
                <div class="color-option blue" (click)="seleccionarColor($index, 'blue')"
                    [ngClass]="{'selected': arrayJugadores[$index].color === 'blue', 'disabled': coloresUsados.includes('blue') && arrayJugadores[$index].color !== 'blue'}">
                </div>
                <div class="color-option green" (click)="seleccionarColor($index, 'green')"
                    [ngClass]="{'selected': arrayJugadores[$index].color === 'green', 'disabled': coloresUsados.includes('green') && arrayJugadores[$index].color !== 'green'}">
                </div>
                <div class="color-option yellow"
                    (click)="seleccionarColor($index, 'yellow')"
                    [ngClass]="{'selected': arrayJugadores[$index].color === 'yellow', 'disabled': coloresUsados.includes('yellow') && arrayJugadores[$index].color !== 'yellow'}">
                </div>
            </div>
            <button class="delete-btn" (click)="eliminarJugador($index)">🗑️</button>
        </div>
        }
    </div>

     <!-- Boton para empezar la partida (siempre y cuando sean 2 jugadores) -->
    @if (sePuedeEmpezarJuego()) {
        <a (click)="iniciarJuego()" id="start-game-btn">
            <h2>Start Game</h2>
         </a>
    }

    <!-- Botón para agregar otro jugador -->
    @if (arrayJugadores.length < 4) {
        <button id="add-player-btn" (click)="agregarJugador()">+</button>
    }
    
    <div class="dropdown-wrapper">
        <div class="dropdown-container">
            <label class="dropdown-label">Time</label>
            <select class="dropdown-select">
                <option value="1">10</option>
                <option value="2">20</option>
                <option value="3" selected>30</option> <!-- Opción predeterminada -->
                <option value="4">40</option>
                <option value="5">50</option>
            </select>
        </div>
    
        <div class="dropdown-container">
            <label class="dropdown-label">Lifes</label>
            <select class="dropdown-select">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3" selected>3</option> <!-- Opción predeterminada -->
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
    </div>
</div>