.playerName {
    border: 0.3125rem solid black;

    background-color: #35f7ff;
    border-radius: 2.5rem;
    padding: 0;
    height: 25rem;
    width: 37.5rem;
    text-align: center;
    transition: transform 0.3s;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3), inset -1px -1px 3px rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(135deg, #a8e6ff, #35f7ff);
    
}

.playerName h2 {
    font-family: 'GreekFreak';
    color: black;
    font-size: 3rem;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0938rem;
}

.playerName input {
    width: 31.25rem;
    height: 3.125rem;
    padding: 0 1.25rem; /* Añade 20px de padding a los lados */
    padding-top: 0.3125rem;
    font-size: 3rem;
    border-radius: 3.125rem;
    box-sizing: border-box;
    text-align: center;
    font-family: "GreekFreak";
    border: 0.1875rem solid black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0938rem; /* Asegura que el padding no afecte el tamaño total del input */
}

.startGame {
    background-color: #fda839;
    padding: 0.625rem 1.25rem;
    padding-top: 1.25rem;
    border-radius: 2.5rem;
    display: inline-flex;  /* Usamos inline-flex para poder centrar contenido */
    justify-content: center;  /* Centra el contenido horizontalmente */
    align-items: center;  /* Centra el contenido verticalmente */
    width: 25rem;
    height: 3.125rem;
    overflow: hidden;
    border: 0.3125rem solid black;
    margin-top: 2.5rem;
    font-size: 3rem;
    font-family: 'GreekFreak';
    transition: transform 0.3s;
    text-decoration: none;
    color: black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0938rem;

}

.startGame:hover {
    transform: scale(1.05);

}

@media (max-width: 1920px) {
    .playerName {
        width: 30rem; 
        height: 20rem; 
        border: 0.2750rem solid black;
    }

    .playerName h2 {
        font-size: 2.4rem;
        -webkit-text-stroke-width: 0.07rem;
    }

    .playerName input {
        width: 25rem; 
        height: 2.8rem;
        font-size: 2.5rem; 
        border: 0.15rem solid black;
    }
    
    .startGame {
        border: 0.2750rem solid black;
        border-radius: 1.9rem;
        margin-top: 1.5rem;
        width: 20rem; 
        height: 2rem; 
        font-size: 2.5rem; 
    }
}


@media (max-width: 1500px) {
    .playerName {
        width: 25rem; 
        height: 16rem; 
        border: 0.2rem solid black;
        border-radius: 1.7rem;
    }

    .playerName h2 {
        font-size: 2rem;
        -webkit-text-stroke-width: 0.065rem;
    }

    .playerName input {
        width: 20rem; 
        height: 2rem;
        font-size: 2rem; 
        border: 0.15rem solid black;
    }
    
    .startGame {
        border: 0.2rem solid black;
        border-radius: 1.7rem;
        margin-top: 1.5rem;
        width: 16rem; 
        height: 1.5rem; 
        font-size: 2rem; 
        -webkit-text-stroke-width: 0.07rem;
    }
}