<div class="contenedor">
    <a routerLink="/"><img class="logo2" src="/img/Logo-Trivia-Titans.png" alt="logo"></a>
    <div class="playerName">
        <h2>Wait right there, Warrior. Tell us your name</h2>
        <input type="text" [(ngModel)]="nombreJugador">

        <!-- si el jugador ingreso un nombre valido (entre 1 y 17 caracteres), se habilita el boton de empezar la partida -->
        @if (nombreJugador.trim().length > 0 && nombreJugador.trim().length < 18) {
            <div><a [routerLink]="['/singleplayer-game', nombreJugador.trim().toLowerCase()]" class="startGame">Start Game</a></div>
        }
    </div>
</div>

