<div class="container">
    <a routerLink="/"><img class="logo2" src="img/Logo-Trivia-Titans.png" alt="logo"></a>
    <div class="buttons-container">
        <a routerLink="/menu-singleplayer">
            <div class="button">
                <h2>SINGLEPLAYER</h2>
                <img src="/img/single2 copia.png" alt="Singleplayer Icon">
            </div>
        </a>
        <a routerLink="/menu-multiplayer">
            <div class="button">
                <h2>MULTIPLAYER</h2>
                <img id="imgMultiplayerButton" src="/img/multi copia.png" alt="Multiplayer Icon">
            </div>
        </a>
    </div>
    <a routerLink="/top-scorers">
        <div class="top-scorers">
            <h2>TOP SCORERS</h2>
            <img src="/img/crown-6073864_1920.png" alt="Crown Icon">
        </div>
    </a>
</div>