<div class="container">
    <a routerLink="/"><img class="logo2" src="/img/Logo-Trivia-Titans.png" alt="logo"></a>
    <div class="contador">
        <h2>{{contador}}</h2>
    </div>
    <div class="vidas">
        @for (vida of vidasArray; track $index) {
            <img class="vida" src="/img/pngwing.com.png" alt="vida">
        }
    </div>
    <div class="category"><h2>{{decodeHtml(pregunta.categoria)}}</h2></div>
    <div class="contenedor">
        <div class="pregunta">
            <h2>{{decodeHtml(pregunta.pregunta)}}</h2>
        </div>
        <ul class="respuestas">
            @for (resp of pregunta.respuestas; track $index) {
            <li (click)="seleccionarRespuesta(resp)" [ngClass]="{
                    'correcta': isRespondida && resp.isCorrect,
                    'incorrecta': isRespondida && !resp.isCorrect
                    }">
                <a>
                    <h2>{{decodeHtml(resp.texto)}}</h2>
                </a>
            </li>
            }
        </ul>

        @if(isRespondida) {
            <button class="button" (click)="siguientePregunta()"><h2>Next Question</h2></button>
        }
    </div>
</div>
