.contador {
    background-color: bisque;
    height: 6.25rem;
    width: 6.25rem;
    position: absolute;
    border: 0.3125rem solid black;
    border-radius: 6.25rem;
    top: 8rem;
    left: 35.75rem;
    border-style: dashed;
}

.contador h2 {
    margin-top: 1.5625rem;
    font-size: 3rem;
    font-family: 'Cinzel' serif;
    color: black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0625rem;
}

.pregunta {
    border: 0.3125rem solid black;
    background-color: #fda839;
    border-radius: 2.5rem;
    height: 6.25rem;
    width: 43.75rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    overflow: hidden;
    margin: 0 auto;
    box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.3), inset -0.0625rem -0.0625rem 0.1875rem rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(135deg, #fdd36c, #fda839);
}

.pregunta h2 {
    
    margin-top: 0.625rem;
    margin-bottom: 0.625rem;
    font-family: 'Cinzel' serif;
    font-size: 1.7rem;
    color: black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0375rem;    

}
.respuestas{
    margin-top: 0;
}

.respuestas li {
    border: 0.3125rem solid black;
    position: relative;
    left: -0.9375rem;
    background-color: #35f7ff;
    border-radius: 2.5rem;
    height: 5rem;
    width: 43.75rem;
    text-align: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    overflow: hidden;
    margin-top: 1rem;
    cursor: pointer;
    box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.3), inset -0.0625rem -0.0625rem 0.1875rem rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(135deg, #a8e6ff, #35f7ff);
}

.respuestas li:hover {
    transform: scale(1.05);
    box-shadow: 0.25rem 0.25rem 0.9375rem rgba(0, 0, 0, 0.4), inset -0.125rem -0.125rem 0.3125rem rgba(255, 255, 255, 0.6);

}

.respuestas li h2 {
    font-family: 'Cinzel' serif;
    font-size: 1.7rem;
    color: black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0375rem;
}

.respuestas li.correcta {
    background-color: rgb(14, 189, 14) ;
    background-image: none;
    border-color: darkgreen;
    box-shadow: 0.1875rem 0.1875rem 0.625rem rgba(0, 128, 0, 0.4), inset -0.0625rem -0.0625rem 0.1875rem rgba(255, 255, 255, 0.5);
    cursor: default;
}

.respuestas li.incorrecta {
    background-color: rgb(255, 0, 0);
    cursor: default;
    background-image: none;
    border-color: darkred;
    box-shadow: 0.1875rem 0.1875rem 0.625rem rgba(255, 0, 0, 0.4), inset -0.0625rem -0.0625rem 0.1875rem rgba(255, 255, 255, 0.5);
}

.button {
    border: 0.3125rem solid black;
    position: absolute;
    background-color: #35f7ff;
    border-radius: 2.5rem;
    padding: 0;
    height: 4.6875rem;
    width: 25rem;
    text-align: center;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    overflow: hidden;
    top: 57rem;
    left: 11rem;
     
    box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.3), inset -0.0625rem -0.0625rem 0.1875rem rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(135deg, #a8e6ff, #35f7ff);
    margin-bottom: 0;
}
.button h2{
    font-family: 'Cinzel';
    font-size: 2rem;
    color: black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0375rem; 
    margin:0 auto;
}
.button:hover{
    transform: scale(1.05);

}
.category {
    background-color: #fda839;
    height: auto;
    width: 12.5rem;
    border: 0.1875rem solid black;
    border-radius: 1.25rem;
    position: absolute;
    left: 0rem; /* Ajusta según lo necesario */
    top: 6.25rem; /* Comienza en la parte superior del contenedor */
    z-index: 1; /* Asegúrate de que tenga prioridad de superposición */
    margin: 0;
    padding: 0.625rem;
    box-shadow: 0.125rem 0.125rem 0.625rem rgba(0, 0, 0, 0.3), inset -0.0625rem -0.0625rem 0.1875rem rgba(255, 255, 255, 0.5);
    background-image: linear-gradient(135deg, #fdd36c, #fda839);
}


.category h2{
    font-family: 'Cinzel';
    font-size: 2rem;
    color: black;
    -webkit-text-stroke-color: gray;
    -webkit-text-stroke-width: 0.0375rem;     
}

.container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    max-height: 60vh;
 }

.contenedor{
position: relative fixed;
margin-top: 1.875rem;
top: -5rem;
max-height: 60vh;
padding-bottom: 0;
}

.vidas{
    height: 12.5rem;
    width: 25rem;
    position: absolute;
    right: -4.8rem;
    top: 16.875rem;
}

.vida{
    height: 3.125rem;
    width: auto;
}

@media (max-width: 1920px) {
    .contador {
        height: 5rem;
        width: 5rem;
        top: 7rem;
        left: 29rem;
        border: 0.25rem solid black;
        border-style: dashed;
    }

    .contador h2 {
        line-height: 0.8;
        font-size: 2.5rem;
    }

    .pregunta {
        height: 5.5rem;
        width: 35rem;
        border: 0.25rem solid black;
        border-radius: 2rem;
    }

    .pregunta h2 {
        font-size: 1.4rem;
    }

    .respuestas li {
        border: 0.25rem solid black;
        height: 4rem;
        width: 35rem;
    }

    .respuestas li h2 {
        font-size: 1.4rem;
    }

    .button {
        border: 0.25rem solid black;
        width: 20rem;
        height: 4rem;
        top: 48rem;
        left: 9rem;
    }

    .button h2 {
        font-size: 1.8rem;
    }

    .category {
        width: 11rem;
        top: 5rem;
        left: -1rem; /* Ajusta según lo necesario */
    }

    .category h2 {
        font-size: 1.65rem;
    }

    .vidas{
        height: 12.5rem;
        width: 20rem;
        position: absolute;
        right: -3.8rem;
        top: 13.875rem;
    }

    .vida{
        height: 2.5rem;
        width: auto;
    }
}

@media (max-width: 1500px) {
    .contador {
        height: 3.5rem;
        width: 3.5rem;
        top: 5rem;
        left: 29rem;
        border: 0.2rem solid black;
        border-style: dashed;
    }

    .contador h2 {
        line-height: 0.2;
        font-size: 2rem;
    }

    .pregunta {
        height: auto;
        width: 35rem;
        border: 0.2rem solid black;
        border-radius: 1.7rem;
        margin-top: -1rem;
    }

    .pregunta h2 {
        font-size: 1.2rem;
    }

    .respuestas{
        margin-top: -1rem;
    }

    .respuestas li {
        margin-top: 0.5rem;
        border: 0.2rem solid black;
        border-radius: 1.7rem;
        height: auto;
        width: 35rem;
        line-height: 0.2;
    }

    .respuestas li h2 {
        font-size: 1.2rem;
    }

    .button {
        border: 0.2rem solid black;
        border-radius: 1.7rem;
        width: 15rem;
        height: 2rem;
        top: 32.5rem;
        left: 11.5rem;
    }

    .button h2 {
        font-size: 1.2rem;
    }

    .category {
        width: 8rem;
        top: 3.5rem;
        left: 0rem; /* Ajusta según lo necesario */
    }

    .category h2 {
        font-size: 1.2rem;
    }

    .vidas{
        height: 14.5rem;
        width: 20rem;
        position: absolute;
        right: -3.2rem;
        top: 9.875rem;
    }

    .vida{
        height: 2rem;
        width: auto;
    }
}